<html>
<head>
</head>
<body bgcolor="LightYellow">
    <font face="Merlin">
        <center>
        <table border="1" cellspacing="2" cellpadding="5" width="100%">
        </center></td><td colspan="4"><center><font size="7" color="DarkGray"><marquee width=95%, bgcolor="HoneyDew">Government Fund Allocation And Tracking System</marquee></center></td></tr>
        <tr><td><center>
        <a href="/desc" target="des_page">Home</a></center></td>
        <td><center>
        <a href="/login" target="des_page">Login</a></center></td>
        <td><center>
        <a href="/registration" target="des_page">Registration</a></center></td>
        <td><center>
        <a href="/publictracking" target="des_page">Tracking Funds</a></center></td>
        </table>
        </center>
        </font>
<br><br><br><br>
<font face="Arial Black" size="4" color="Gray">
<center>
<h1>Welcome to Government Fund Allocation and Tracking System Website</h1>
<h2>The Team members of the project are:</h2>
<h4>Sandhya Sri Damarla (19F01A0538)</h4>
<h4>Kusuma Akkakula (20F01A0501)   </h4>
<h4>Dharani Goli (19F01A0556)      </h4>
<h2>We have done the project under the guidence of Dr.D.N.V.Syam Kumar</h2>
</center>
</font>
</body>
</html>

