<html>
<head>
</head>
<body>
<font face="Merlin">
<center>
<table border="1" cellspacing="2" cellpadding="5" width="100%">
</center></td><td colspan="4"><center><font size="7" color="DarkGray"><marquee width=95%, bgcolor="HoneyDew">Government Fund Allocation And Tracking System</marquee></center></td></tr>
<tr><td><center>
<a href="/desc" target="desc_page1">Home</a></center></td>
<td><center>
<a href="/allocatefund" target="desc_page1">Allocate Fund</a></center></td>
<td><center>
<a href="/tracking" target="desc_page1">Tracking Funds</a></center></td>
<td><center>
<a href="/home" target="desc_page1"><button>Logout</button></a></center></td>
</table>
</center>
</font>
</body>
</html>
