<html>
<head>
    <title>
        Public Tracking Page | Government Funds Allocation and Tracking System
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center {
            display:block;
  text-align: left;
  border: 3px solid green;
}
.container {
    /* remember to set a width */
    margin-right: auto;
    margin-left: auto;
}
    </style>
    
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Demo</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/newdesc">Home</a></li>
            <li><a href="/allocatefund">Allocate Fund</a></li>
            <li class="active"><a href="/tracking">Tracking Funds</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </nav>
    <br/>
        <div class="container center">
            <h1>
                Fund Allocation Details
            </h1>
            <table class="table border">
                <tr>
                    <th>SNo</th>
                    <th>Sender Wallet Address</th>
                    <th>Sender Name</th>
                    <th>Sender Department</th>
                    <th>Receiver Wallet</th>
                    <th>Amount</th></tr>
                {%for i in range(0,l)%}
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{res[i][0]}}</td>
                    <td>{{res[i][1]}}</td>
                    <td>{{res[i][2]}}</td>
                    <td>{{res[i][3]}}</td>
                    <td>{{res[i][4]}}</td>
                </tr>
                {%endfor%}
            </table>
            </div>
</body>
</html>